services:
  backend:
    build: ./ai-show-backend
    container_name: ai-backend
    environment:
      - ADMIN_TOKEN=5fA29cG8QbR7N4xT6Vw0pJ2yZ9mE3hD1sK7uB4tQ6rM8cL2d
    networks:
      - aigc-net

  nginx:
    image: nginx:alpine
    container_name: ai-nginx
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      # 前端打包后的静态文件目录
      - ./ai-show-frontend/dist:/usr/share/nginx/html:ro
      # Nginx 主配置（你根目录已有 nginx.conf）
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - aigc-net

networks:
  aigc-net:
    driver: bridge
